 <div class="mainContainer">   
    <div>
        <button id="addItem" (click)="addItem()" md-raised-button >Add Item</button>
        <button id="logOut" (click)="logout()" md-raised-button >Log out</button>
        <button id="deleteAll" (click)="deleteAll()" md-raised-button >Delete all</button>
    </div>
    <div class="allCards">
        <div *ngFor= "let x of allNotes" class="board">
            <md-card class="docs-component-category-list-card mat-card">
                <md-card-header>
                    <md-card-title>{{x.heading}}</md-card-title>
                </md-card-header>
                <md-card-content>
                    <p>
                    {{x.content}}
                    </p>
                </md-card-content>
                <md-card-actions>
                    <button (click)="editItem(x)" md-button>Edit</button>
                    <button (click)="deleteItem(x)" md-button>Delete</button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
 </div>