

#logOut{
    right: 8.4%;
    position: absolute;
}

.board{
    display: inline-block;


}
.docs-component-category-list-card{
    cursor: pointer;
    display: inline-block;
    margin: 20px;
    vertical-align: top;
    width: 260px;
}
.example-card {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 10px 0px 10px 0px;
}

.mainContainer{
    overflow:auto;
}
.allCards{
  width:100%;
}
