 <div>   
    <div>
        <button id="addItem" (click)="addItem()" md-raised-button >Add Item</button>
        <button id="logOut" (click)="changeState()" md-raised-button >Log out</button>
    </div>

    <div class="allCards">
        <md-card class="example-card">
        <md-card-header>
            <md-card-title>Shiba Inu</md-card-title>
        </md-card-header>
        <md-card-content>
            <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
            </p>
        </md-card-content>
        <md-card-actions>
            <button md-button>Edit</button>
            <button md-button>Delete</button>
        </md-card-actions>
        </md-card>
    </div>
 </div>