<div class= "center">
  <div class="centerThis"><h2> Login </h2><a href="#" uiSref="register">(not a member yet)</a></div>
  <form [formGroup]="rForm" class="example-form" (submit)="loginUser($event,rForm.value)">
    <div class="input">
      <md-input-container class="example-full-width">
        <input type="text" mdInput formControlName="username" placeholder="Email" >
      </md-input-container>
      <div class="alert" *ngIf="!rForm.controls['username'].valid && rForm.controls['username'].touched">{{ titleAlert }}</div>
    </div><br/>
    <div class="input">
      <md-input-container class="example-full-width">
        <input type="password" mdInput formControlName="password" placeholder="Password" >
      </md-input-container>
      <div class="alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">{{ "Can not be empty" }}</div>
    </div>
    <div class="buttons"> 
      <button type="submit" id="submitButton" md-raised-button [disabled]="!rForm.valid">Submit</button>
    </div>
  </form>
</div>